# create a file ~/.gec2 based on this example file

declare -A KEYS
declare -A EXTRA_SSH_SETTINGS

# set the keys to be used per instance ID
# for example, if you have an instance with id "i-a1b2c3" and the key is located at /home/user/key.pem, set the following associate array as:
KEYS=(
	[i-a1b2c3]="/home/user/key.pem"
)

# extra ssh setting to be passed when connecting
# for example, to use port 1022 when connecting to i-a1b2c3
EXTRA_SSH_SETTINGS["i-a1b2c3"]="-p 1022"

# connect to instance from a different ssh server.
# comment it out if you don't need this setting
# for example, if your target instance needs to be connected from the server ec2-xxxx.com:
SSH_TUNNEL="ssh -tt ec2-user@ec2-xxxx.com"
